* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

br {
    margin-bottom: 10px;
}

i {
    font-style: normal;
}

.btn {
    box-sizing: border-box;
    background-color: transparent;
    color: white;
    border: solid 2px white;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    text-decoration: none;
    user-select: none;
    cursor: pointer;
    align-items: center;
}

.btn:hover {
    background-color: white;
    color: black;
}

/* PROGRESS BAR */

.percent
{
  width:150px;
  height:150px;
  position:relative;
}

.percent svg
{
  width:150px;
  height:150px;
  position:relative;
  transform: rotate(-90deg);
}

.percent svg circle
{
  width:150px;
  height:150px;
  fill:none;
  stroke-width:10;
  stroke:#000;
  transform:translate(5px,5px);
  stroke-dasharray:440;
  stroke-dashoffset:440;
  stroke-linecap:round;
}

.percent svg circle:nth-child(1)
{
  stroke-dashoffset:0;
  stroke:var(--overlay);
}

.percent svg circle:nth-child(2)
{
    stroke-dasharray: 440;
    transition: 1s stroke-dashoffset;
}

.percent svg circle:nth-child(2).active
{
    stroke-dashoffset: var(--percent);
    stroke:var(--primary);
}

.percent .num
{
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:absolute;
    color:var(--primary);
}

.percent .num h2
{
    font-size:3.5rem;
}

/* ANIMATIONS */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}