body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    color: white;
}

#nav-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
}

.entrance {
    position: relative;
    margin-left: 4vmin;
    padding: 4vmin;
    min-width: 80vmin;
    max-width: 500px;
    max-height: 56vmin;
    background-color: rgb(31, 30, 30);
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
}

#nickname {
    font-size: 3rem;
}

.entrance p {
    font-size: 1.05rem;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 20px solid #ffffff;

    position: absolute;
    bottom: 15px;
    right: 20px;
}

#nav-track>.destination {
    width: 40vmin;
    height: 56vmin;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nav-track>#portfolio {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/index/portfolio.jpg");
    background-position: 100% center;
}

#nav-track>#socials {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/index/social.jpg");
    background-position: 100% center;
}

#nav-track>#minecraft {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../img/index/minecraft.jpg");
    background-position: 100% center;
}